@tailwind base;
@tailwind components;
@tailwind utilities;

.map-select:hover {
  stroke: red;
}

body {
  font-family: "Brother 1816";
}

/* Leaflet  */
.leaflet-popup-tip {
  background-color: #ede1c7 !important;
}
.leaflet-popup-content-wrapper {
  background-color: #ede1c7 !important;
  border-radius: 0.4px !important;
}

.leaflet-popup-content {
  font-family: "Eigerdals";
}

.leaflet-popup-content h3 {
  font-family: "Brother 1816";
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0;
}

.leaflet-popup-content .subtitle {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 500;
}

.leaflet-popup-content .details {
  margin: 0;
  font-size: .9rem;
  margin-top: 1rem;
}

/* Fonts  */

@font-face {
  font-family: 'Brother 1816';
  src: url('../fonts/Brother1816Printed-Bold-Italic.woff2') format('woff2'),
      url('../fonts/Brother1816Printed-Bold-Italic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Brother 1816';
  src: url('../fonts/Brother1816Printed-Bold.woff2') format('woff2'),
      url('../fonts/Brother1816Printed-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Brother 1816';
  src: url('../fonts/Brother1816Printed-Black-Italic.woff2') format('woff2'),
      url('../fonts/Brother1816Printed-Black-Italic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Brother 1816';
  src: url('../fonts/Brother1816Printed-Black.woff2') format('woff2'),
      url('../fonts/Brother1816Printed-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Brother 1816';
  src: url('../fonts/Brother1816Printed-Book-Italic.woff2') format('woff2'),
      url('../fonts/Brother1816Printed-Book-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Brother 1816';
  src: url('../fonts/Brother1816Printed-ExtraBold.woff2') format('woff2'),
      url('../fonts/Brother1816Printed-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Brother 1816';
  src: url('../fonts/Brother1816Printed-Book.woff2') format('woff2'),
      url('../fonts/Brother1816Printed-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Brother 1816';
  src: url('../fonts/Brother1816Printed-Regular-Italic.woff2') format('woff2'),
      url('../fonts/Brother1816Printed-Regular-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Brother 1816';
  src: url('../fonts/Brother1816Printed-ExtraBold-Italic.woff2') format('woff2'),
      url('../fonts/Brother1816Printed-ExtraBold-Italic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Brother 1816';
  src: url('../fonts/Brother1816Printed-Light.woff2') format('woff2'),
      url('../fonts/Brother1816Printed-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Brother 1816';
  src: url('../fonts/Brother1816Printed-Light-Italic.woff2') format('woff2'),
      url('../fonts/Brother1816Printed-Light-Italic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Brother 1816';
  src: url('../fonts/Brother1816Printed-Medium-Italic.woff2') format('woff2'),
      url('../fonts/Brother1816Printed-Medium-Italic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Brother 1816';
  src: url('../fonts/Brother1816Printed-Regular.woff2') format('woff2'),
      url('../fonts/Brother1816Printed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Brother 1816';
  src: url('../fonts/Brother1816Printed-Medium.woff2') format('woff2'),
      url('../fonts/Brother1816Printed-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Brother 1816';
  src: url('../fonts/Brother1816Printed-Thin.woff2') format('woff2'),
      url('../fonts/Brother1816Printed-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Brother 1816';
  src: url('../fonts/Brother1816Printed-Thin-Italic.woff2') format('woff2'),
      url('../fonts/Brother1816Printed-Thin-Italic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: 'Eigerdals';
  src: url('../fonts/Eigerdals-Hea.woff2') format('woff2'),
      url('../fonts/Eigerdals-Hea.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eigerdals';
  src: url('../fonts/Eigerdals-Reg.woff2') format('woff2'),
      url('../fonts/Eigerdals-Reg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eigerdals';
  src: url('../fonts/Eigerdals-HeaIta.woff2') format('woff2'),
      url('../fonts/Eigerdals-HeaIta.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Eigerdals';
  src: url('../fonts/Eigerdals-Thi.woff2') format('woff2'),
      url('../fonts/Eigerdals-Thi.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eigerdals';
  src: url('../fonts/Eigerdals-Bol.woff2') format('woff2'),
      url('../fonts/Eigerdals-Bol.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eigerdals';
  src: url('../fonts/Eigerdals-BolIta.woff2') format('woff2'),
      url('../fonts/Eigerdals-BolIta.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Eigerdals';
  src: url('../fonts/Eigerdals-Med.woff2') format('woff2'),
      url('../fonts/Eigerdals-Med.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eigerdals';
  src: url('../fonts/Eigerdals-Lig.woff2') format('woff2'),
      url('../fonts/Eigerdals-Lig.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eigerdals';
  src: url('../fonts/Eigerdals-LigIta.woff2') format('woff2'),
      url('../fonts/Eigerdals-LigIta.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Eigerdals';
  src: url('../fonts/Eigerdals-ThiIta.woff2') format('woff2'),
      url('../fonts/Eigerdals-ThiIta.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Eigerdals';
  src: url('../fonts/Eigerdals-MedIta.woff2') format('woff2'),
      url('../fonts/Eigerdals-MedIta.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Eigerdals';
  src: url('../fonts/Eigerdals-Bla.woff2') format('woff2'),
      url('../fonts/Eigerdals-Bla.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eigerdals';
  src: url('../fonts/Eigerdals-BlaIta.woff2') format('woff2'),
      url('../fonts/Eigerdals-BlaIta.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Eigerdals';
  src: url('../fonts/Eigerdals-RegIta.woff2') format('woff2'),
      url('../fonts/Eigerdals-RegIta.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

